<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>'Search'</title>
</head>
<body>
<h1>
    Enter car id to search for car in database:
</h1>

    <form method="GET" action="/get_car_by_id_number/{{ car_id }}">
        <label for="car_id">Car_id:</label>
        <input type="text" id="car_id" name="car_id"><br><br>
        <input type="submit" value="Search">
    </form>

</body>
</html>



